.ChatPageContainer{
    width: 100%;
    height: 90vh;
    background: #081327;
}
.ChatHeaderCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.ChatHeader{
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-family :cursive;
}
.ChatHeader2{
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family :cursive;
}
.ChatHeaderImage{
    width: 30%;
    border-radius: 10px;
    height: 30%;
     margin: 0 auto;
}
.ChatHeaderButton{
    background: #075E54;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #000;
    cursor: pointer;
}
.chat-container {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
  }
  
  .chat-header {
    background-color: #075E54;
    color: #fff;
    padding: 15px;
  }
  
  .chat-header h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .chat-messages {
    width: 100%;
    gap: 20px;
    padding: 5px;
    display: flex;
    height: 72vh;
    overflow-y: scroll;
    flex-direction: column;
  }
  
  .message-received {
    align-items: flex-start;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 50%;
    height: auto;
    display: flex;
    padding: 5px;
    flex-direction: column;
  }
  .message-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .message-sent {
    background-color: #DCF8C6;
    text-align: right;
    align-items: flex-start;
    border-radius: 5px;
    width: 50%;
    position: relative;
    left: 50%;
    /* right: -22px; */
    height: auto;
    display: flex;
    padding: 5px;
    flex-direction: column;
  }
  
  .message-sender {
    font-weight: bold;
    color: #333;

  }
  
  .message-content {
    border-radius: 5px;
    text-align: left;
  }
  
  .message-time {
    font-size: 12px;
    color: #888;
  }
  
  .chat-input {
    display: flex;
    width: 100%;
    /* padding: 15px; */
    align-items: center;
    justify-content: space-between;
  }
  
  .chat-input input[type="text"] {
    /* flex: 1; */
    width: 85%;
    /* padding: 10px; */
    font-size: 1.3rem;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .chat-input button {
    padding: 18px 40px;
    background-color: #075E54;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .chatcont{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 70%;
    height: 90vh;
  }
  .chatListCont{
    width: 30%;
    overflow-y: scroll;
    border: 1px solid #000;
    height: 90vh;
    align-items: center;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background: #075E54;
  }
  .ChatListDiv{
    width: 100%;
    cursor: pointer;
    height: 60px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #fff;
  }
  .ChatListImg{
    width: 50px;
  }
  .ChatListText{
    font-size: 1.2rem;
    font-weight: 500;
  }