.ResourceModalContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
    background: linear-gradient(to top, #151934, #071226);
    padding: 20px;
}

.ResourceModalHeading h1{
    text-align: center;
    color: beige;
}

.ResourceModalContainer label{
    color: beige;
}

.ResourceName, .ResourcePdf, .ResourceLinks ,.ResourceOfficialDocs{
    display: flex;
    justify-content: space-evenly;
}

.ResourceModalContainer input{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px;
    /* text-decoration: none; */
    width: 70%;
    color: #fff;
}


.ResourceSubmit input{
    /* position: absolute; */
  right: 20px;
  padding: 10px;
  background: rgb(29, 227, 29);
  cursor: pointer;
  font-size: 15px;
  color: #000;
  top: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  width: 20%;
}

.ResourceSubmit{
    display: flex;
    justify-content: center;
}

.ResourceDesc textarea{
    background: transparent;
    border: 2px solid #fff;
    width: 70%;
    min-height: 15vh;
    height: auto;
    padding: 2%;
    border-radius: 10px;
    margin-left: 5%;
    color: #fff;
}